<%- include('../partials/head') %>

    <body>
        <%- include('../partials/nav') %>

            <div class="flex justify-center items-center ">
                <h1 class="text-5xl font-bold text-red-500 mb-4">
                   Your Home is registered successfully on airbnb.
                </h1>
            </div>

            
    </body>

    </html>